/*

COLORS

Orange - #D9601E
Red - #B0413E
Yellow - #F1B137
Dark Blue - #12355B
Light Blue - #2E86AB

Grey - #444

*/

body {
	font-family: 'Lato';
	color: #444;
	overflow-x: hidden;
}

#header {
	width: 100vw;

	margin-top: -2vw;

	padding-bottom: 15vh;

}

.splash {
	margin-left: -2vw;
	width: 102%;
	height: 40vh;

	background-color: #2E86AB;

	position: absolute;

	z-index: -99;

	transition: height .8s ease;

}

#lower_h {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: center;
	align-items: center;

	margin-left: 3vw;
	margin-right: 3vw;
	padding-top: 10vh;
}

#lower_h div {
	padding-left: 1em;
	padding-right: 1em;
}

#intro {
	margin-top: 5vh;
	width: 80%;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}

#title {
	bottom: 0;
	right: 0;

	color: white;

	text-align: center;

	margin-left: 2vw;
	margin-right: 2vw;
}

#title h1 {
	text-transform: uppercase;
	font-size: 4em;
}


#avatar {
	width: calc(300px + 10vh);
}

#logo {
	width: 100%;
}

#sub {
	width: 400px;
	padding-bottom: 2vh;
}

#sub h2 {
	color: #D9601E;
}
#sub h3 {
	color: #12355B;
}

#sub p {
	font-size: 1.2em;
}

#featured {
	width: 400px;
	height: 300px;
}

#arrow {
	position: absolute;
	font-size: 2em;

	text-align: center;
	width: 100vw;

	color: #D9601E;
}


.project {
	overflow: hidden;

	padding-left: 0 !important;
	padding-right: 0 !important;

	position: relative;
}

.project img {
	width: 100%;
	position: absolute;
	top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.body {
	width: 80%;

	margin-left: auto;
	margin-right: auto;
}


.flex_div {
	width: 250px;
	height: 180px;

	margin-top: 2vh;
	margin-bottom: 2vh;
}
.flex_div {
	background-color: blue;
}

.projects_container {
	width: 90%;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-between;

	margin-left: auto;
	margin-right: auto;

}

.spacer {
	height: 5vh;
}

#footer {

	width: 100vw;
	height: 10vh;

	text-align: center;

	color: #12355B;
}

.orange_hl {
	background-color: #D9601E;
	color: white;
}

/* ============= */

@media (max-width: 700px) {

	#lower_h {
		padding-top: 0;
	}
	
	#title {
		margin-left: 0;
		text-align: center;
	}

	#sub {
		float: none;
		text-align: left;

		margin-left: auto;
		margin-right: auto;
	}

	#sub p {
		width: 100%;
	}
}

